.github-user img {
<<<<<<< HEAD
    border-radius: 50%;
    height: 200px;
}

.github-user h3 {
    color:#999;
=======
  border-radius: 50%;
  height: 200px;
}

.github-user h3 {
  color: #999;
>>>>>>> 09fb4270aac75af196a47d9a695df4d921085a09
}